<header class=" text-white/90 font-semibold w-full">
    <div class="mx-auto max-w-7xl flex justify-between items-center py-6">
        <h1 class="text-[32px]">
            <a href="#hero">
                webify
            </a>
        </h1>
        <nav>
            <ul class="flex gap-x-10 text-[16px]">
                <li>
                    <a href="">Servicios</a>
                </li>
                <li>
                    <a href="">Procedimiento</a>
                </li>
                <li>
                    <a href="">Sobre nosotros</a>
                </li>
                <li>
                    <a href="">¿Por que nosotros?</a>
                </li>
            </ul>
        </nav>
    <a href="" class="border border-white/30 px-4 py-2 hover:bg-white/10 transition-all">
        Contáctanos
    </a>
    </div>
</header>