---
import DiscountIcon from "./icons/DiscountIcon.astro"
import VelarIcon from "./icons/VelarIcon.astro"
---

<div class="top-1 sticky z-50">
    <div class="mx-auto max-w-6xl px-4 pt-2 ">
        <p class="flex justify-center items-center gap-x-1 bg-blue-600  rounded-t-2xl py-1.5 text-xs text-white font-semibold">
            <DiscountIcon class="size-4"/>
            40% OFF limitado a los primeros 5 proyectos
        </p>
    </div>
</div>


<header role="banner" id="header" class="font-semibold max-w-6xl mx-auto sticky px-2 top-10 backdrop-blur-md z-80 bg-white/80 border border-gray-400/40 rounded-b-3xl">
    <div class=" px-5 flex justify-between items-center py-2">

        <div>
            <a href="#hero" aria-label="Velar - Inicio" class=" flex items-center hover:text-black/70 transition-colors duration-300">
                <VelarIcon class="size-10 w-auto"/>
                <span class=" text-[28px] leading-relaxed font-serif font-light">Velar</span>
            </a>
        </div>

        <nav role="navigation" aria-label="Menú de navegación principal">
            <ul class="flex gap-x-2 text-[15px] ">
                <li>
                    <a href="#services" class="flex justify-center border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100  rounded-lg px-4 py-2 transition-all duration-200">
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="#process" class="flex justify-center border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100 rounded-lg px-4 py-2 transition-all duration-200">
                        Proceso
                    </a>
                </li>
                <li>
                    <a href="#about" class=" flex justify-center border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100 rounded-lg px-4 py-2 transition-all duration-200">
                        Sobre mí
                    </a>
                </li>
            </ul>
        </nav>

            <a href="#contact" class=" flex border text-white border-blue-500/30 shadow-md shadow-blue-600/20 bg-blue-700 px-5 py-1 rounded-3xl hover:bg-blue-700/90 hover:scale-105  transition-all duration-200">
                    Contacto
            </a>

    </div>
</header>

