

<header role="banner" class="  font-semibold max-w-6xl  mx-auto sticky top-4 backdrop-blur-xl z-50 bg-white/80 border border-gray-400/30 rounded-2xl">
    <div class=" px-5 flex justify-between items-center py-3">

            <a href="#hero" aria-label="Webify, Inicio" class="text-[25px] hover:text-black/70 transition-transform duration-300">
                webify
            </a>

        <nav role="navigation" aria-label="Menu de navegacion principal">
            <ul class="flex   gap-x-4 text-[15px] ">
                <li>
                    <a href="#services" class=" border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100 hover:border-black/5 rounded-lg px-4 py-2 transition-all duration-200">
                        Servicios
                    </a>
                </li>
                <li>
                    <a href="#process" class=" border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100 hover:border-black/5 rounded-lg px-4 py-2 transition-all duration-200">
                        Procedimiento
                    </a>
                </li>
                <li>
                    <a href="" class=" border border-transparent opacity-70 hover:bg-black/10 hover:opacity-100 hover:border-black/5 rounded-lg px-4 py-2 transition-all duration-200">
                        ¿Por que nosotros?
                    </a>
                </li>
                <li>
                    
                </li>
            </ul>
        </nav>
            <a href="" class=" flex border text-white border-blue-500/30 shadow-2xl shadow-blue-700/20 bg-blue-500 px-5 py-1.5 rounded-lg hover:bg-blue-600 hover:scale-105  transition-all duration-200">
                    Contacto
            </a>
    </div>
</header>