---
import ArrowIcon from "./icons/ArrowIcon.astro"
---


<section class="pt-10" id="hero">
        <div class="max-w-6xl min-h-[85dvh] mx-auto px-3 items-center flex flex-col mt-8">
                <p class="inline-block p-1.5 px-3 mb-3 rounded-full text-blue-600/90 border-blue-600/30  font-bold border bg-blue-400/5  "> 
                    <span class="animate-pulse">●</span> Oferta lanzamiento: 40% OFF primeros 5 clientes
                </p>

                <h1 class="tracking-tight text-5xl md:text-6xl lg:text-8xl max-w-4xl font-bold text-center leading-[1.05]">
                    Sitios web ultrarrápidos 
                    <span class="text-gray-400 font-semibold block">
                        sin complicaciones
                    </span>
                </h1>

                <p class="mt-4 max-w-2xl text-xl text-center text-gray-800 leading-relaxed">
                    Landing pages y rediseños con tecnologia moderna. <span class="text-black font-bold">Velocidad garantizada menor a 2 segundos.</span> Sin costos de mantenimiento.
                </p>

                <div class="mt-9 flex gap-x-8 font-semibold">
                    <a href="#services" aria-label="Ir a la seccion de Contacto" class="bg-blue-700 shadow-2xl shadow-blue-700/40 text-white px-7 flex gap-x-2  py-4 border border-blue-700/30 rounded-lg hover:bg-blue-700/90   transition-all duration-200">
                        Ver servicios
                        <div></div>
                        <ArrowIcon class="inline-block " >/
                    </a>

                    <a href="" aria-label="Ir a la seccion de servicios" class="border border-black/10 px-7 py-4 rounded-lg hover:border-black/20 hover:bg-black/5  transition-all duration-200 ">
                        Ver procedimiento
                    </a>
                </div>
                <dl class="grid grid-cols-3 gap-x-6 border-t border-black/20 mt-15 pt-15 w-2xl">

                    <div class="text-center">
                        <dt class="text-5xl font-bold mb-3"> &lt;2S </dt>
                        <dd class="text-sm text-gray-700/80">Velocidad de carga</dd>
                    </div>

                    <div class="text-center">
                        <dt class="text-5xl font-bold mb-3">0$</dt>
                        <dd class="text-sm text-gray-700/80">Hosting mensual</dd>
                    </div>

                    <div class="text-center">
                        <dt class="text-5xl font-bold mb-3">100%</dt>
                        <dd class="text-sm text-gray-700/80">Codigo propio</dd>
                    </div>
                </dl>

        </div>
</section>