---
import ProcessItem from "../components/ProcessItem.astro"




const steps = [
    {
        step: '01',
        title: 'Consulta inicial',
        description: 'Conversamos sobre tus objetivos, necesidades y vision. Definimos alcance, tiempo y presupuesto del proyecto',
        icon: 'lupa',
    }
    ,
    {
        step: '02',
        title: 'Dise単o UI/UX',
        description: 'Se dise単a el proyecto en Figma, donde vamos se puede modificar a gusto hasta que el dise単o refleje tu marca perfectamente',
        icon: 'design',
    }
    ,
    {
        step: '03',
        title: 'Desarrollo',
        description: 'Transformamos el dise単o en codigo con tecnologias modernas. Optimizado para velocidad, SEO y una experiencia de usuario unica',
        icon: 'code',
    }
    ,
    {
        step: '04',
        title: 'Lanzamiento',
        description: 'Despues del testing de la pagina y deploy. Se te entrega el sitio funcionando sin costo de hosting',
        icon: 'rocket',
    }
]
---

<section class="py-16 scroll-mt-18.75" id="process">
    <div class="max-w-6xl px-4 mx-auto items-center">
        <header class="text-center">
            <p class="text-blue-500 font-semibold text-lg"> Proceso</p>
            <h2 class="text-6xl font-bold mb-5">Como trabajamos juntos</h2>
            <p class="text-gray-500">De la idea al lanzamiento en 4 pasos </p>
        </header>

        <div class="grid grid-cols-4 mt-10 gap-8">
            {
                steps.map(steps => (
                    <ProcessItem  {...steps} />
                ))
            }
        </div>
    </div>
</section>