---
import '../styles/global.css'
import '@fontsource-variable/plus-jakarta-sans';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="es" class="scroll-smooth" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Webify - Desarrollo Web Front-End y Diseño UI</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta
			name="description"
			content="Agencia de desarrollo web front-end y diseño UI. Creamos sitios web modernos, responsivos y atractivos para impulsar tu presencia dentro del mundo digital."
		/>
		<meta
			name="author"
			content="Lautaro Sanchez Visser"
		/>
		<meta
			name="keywords"
			content="Desarrollo Web, pagina web, Agencia Web, Front-End, Sitios Responsivos, HTML, CSS, JavaScript, Experiencia de Usuario, Diseño UI, Webify"
		/>


	</head>
	<body class=" bg-white text-black font-sans antialiased ">
	<Header />
	<main class="w-full mx-auto">
		<slot />
	</main>
	<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		
	}
</style>
